#container 
{
    margin: 0px auto;
    width: 100%;
    height: 100%;
    border: 10px #333 solid;
}
#videoElement 
{
    width: 100%;
    height: 100%;
    background-color: #000000;
}
body{
    background-color: #000000;
}
